$images: (
  mobileHero: url(/images/mobileHero.jpg),
  desktopHero: url(/images/desktopHero.jpg),
);

$colors: (
  primary: #143738,
  secondary: #dc8363,
  light: #ffffff,
  beige: #dcd5c6,
);

$tablet: 800px;
$desktop: 1000px;

@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

@function image($image-name) {
  @return map-get($images, $image-name);
}

@function color($color-name) {
  @return map-get($colors, $color-name);
}

html,
body {
  margin: 0px;
  height: 100%;
}

body {
  background-color: color(primary);
}

.navbar {
  background-color: color(primary);
  color: white;
}

.navbar-brand {
  font-size: 24px;
  letter-spacing: 5px;
  margin-right: 40px;
}

.nav-link {
  margin-right: 10px;
}

.navbar-brand,
.nav-link {
  color: color(secondary);
}

.navbar-brand:hover,
.nav-link:hover {
  color: color(light);
}

.navbar-toggler {
  border: none;
  color: color(secondary);
}

.hero {
  background-image: image(mobileHero);
  background-position: center;
  background-size: cover;
  display: flex;
  height: 94vh;
  width: 100%;

  @include desktop {
    background-image: image(desktopHero);
  }
}

.heroText {
  margin-left: 50px;
  margin-top: 50px;

  @include desktop {
    margin-left: 100px;
    margin-top: 150px;
  }
}

.heroBrand {
  color: color(primary);
  font-size: 60px;

  @include desktop {
    font-size: 80px;
  }
}

.shopNowBtn {
  background-color: color(secondary);
  color: color(light);
  font-size: 30px;
  margin-top: 20px;
  padding: 10px 20px 10px 20px;
}

.aboutUs {
  background-color: color(beige);
  margin: 0;

  @include desktop {
    height: 50vh;
    margin-left: 200px;
    margin-right: 200px;
    overflow: hidden;
  }
}

.icons {
  margin: 0;

  @include desktop {
    height: 20vh;
    margin-left: 300px;
    margin-right: 300px;
    padding-bottom: 20px;
    padding-top: 20px;
  }
}
